body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #1c1c1c;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
}

.main {
  flex: 3;
  padding: 20px;
}

.list-item {
  display: flex;
  align-items: center;
}

aside {
  flex: 1;
  background-color: #1b2838;
  color: #d1d1d1;
  padding: 20px;
}

header {
  text-align: center;
  padding-bottom: 12px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  color: #1c1c1c;
}

header h2 {
  margin: 5px 0 10px 0;
  font-size: 1.2em;
  color: #333;
}

header p {
  margin: 5px 0;
  font-size: 1em;
  color: #333;
}

section {
  margin: 20px 0;
}

section h2 {
  border-top: 1px solid #404040;
  padding-bottom: 5px;
  color: #002278ee;
}

h3 {
  color: #2b2b2b;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contact-info a {
  color: #d1d1d1;
}

.links a {
  border-bottom: 1px solid #d1d1d1;
  color: #d1d1d1;
}

.contact-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.contact-icon {
  padding-right: 7px;
  font-size: 20px;
}

#home-icon {
  font-size: 22px;
}

.email-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.email-icon {
  padding-right: 5px;
  font-size: 20px;
}

.skills h2,
.contact-info h2,
.links h2 {
  color: #4d7bef9b;

  border-bottom: 2px solid #d1d1d1;
  padding-bottom: 5px;
}

.skills h3 {
  color: #d1d1d1;

  margin-top: 20px;
  /* border-bottom: 1px solid #d1d1d1; */
  border-bottom: 2px solid #d1d1d1;
  padding-bottom: 5px;
}
